<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624263008484-dcalalrv49ro209h9km34t67gs8jv094.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624263008484-dcalalrv49ro209h9km34t67gs8jv094</string>
	<key>API_KEY</key>
	<string>AIzaSyDq8s0gfg-qe1S8eSvZqWwDDY-bZdSvrr8</string>
	<key>GCM_SENDER_ID</key>
	<string>624263008484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cityportal.CityXcape</string>
	<key>PROJECT_ID</key>
	<string>cityxcape-1e84f</string>
	<key>STORAGE_BUCKET</key>
	<string>cityxcape-1e84f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624263008484:ios:88c8ac4001803860ea5cf1</string>
</dict>
</plist>